<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">

    <div class="card login-box">
        <div class="card-body">
            <h4 class="card-title">
                <f:translate key="forgot.changeformsubmit.title"/>
            </h4>
            <div class="card-text">
                <p>
                    <f:translate key="forgot.changeformsubmit.message"/>
                </p>

                <!-- SHOW THE LINK, IF REDIRECT IS GIVEN -->
                <f:if condition="{settings.successLink}">
                    <f:link.action action="redirect" class="btn btn-primary btn-lg">
                        <f:translate key="forgot.changeformsubmit.button"/>
                    </f:link.action>
                </f:if>
                <!-- SHOW THE LINK, IF REDIRECT IS GIVEN -->

            </div>
        </div>
    </div>


</f:section>
</html>