<f:form action="login" class="form">

    <f:if condition="{error} == 1">
        <div class="alert alert-danger">Sorry, but login failed with this combination of username and password.</div>
    </f:if>

    <div class="form-group">
        <label for="username">Email or username</label>
        <f:form.textfield class="form-control" id="username" name="username" placeholder="Username or email"/>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <f:form.password class="form-control" id="password" name="password"/>
    </div>

    <f:form.submit class="btn btn-primary" value="Login"/>
</f:form>