<f:section name="error1">
    <f:translate key="validation.1" />
</f:section>

<f:section name="error2">
    <f:translate key="validation.2" />
</f:section>

<f:section name="error3">
    <f:translate key="validation.3" />
</f:section>

<f:section name="error4">
    <f:translate key="validation.4" />
</f:section>

<f:section name="error5">
    <f:translate key="validation.5" />
</f:section>

<f:section name="error6">
    <f:translate key="validation.6" />
</f:section>

<f:section name="error7">
    <f:translate key="validation.7" />
</f:section>

<f:section name="error8">
    <f:translate key="validation.8" />
</f:section>