<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">

    <div class="row mb-5">
        <f:for each="{pages}" as="page">
            <!-- column -->
            <div class="{settings.itemsize}">
                <!-- Card -->
                <div class="card h-100">
                    <f:if condition="{page.usersDashboardImage}">
                        <f:link.page pageUid="{page.uid}">
                            <f:image image="{page.usersDashboardImage}" class="card-img-top img-responsive"
                                     width="{settings.imgwidth}" height="{settings.imgheight}"/>
                        </f:link.page>
                    </f:if>
                    <div class="card-body">
                        <h4 class="card-title">{page.usersDashboardTitle}</h4>
                        <p class="card-text">
                            <f:format.html>{page.usersDashboardDescription}</f:format.html>
                        </p>
                        <f:link.page pageUid="{page.uid}" class="btn btn-primary">
                            <i class="fas fa-arrow-circle-right"></i>
                            <f:if condition="{page.usersDashboardButton}">
                                <f:then>
                                    {page.usersDashboardButton}
                                </f:then>
                                <f:else>
                                    {page.usersDashboardTitle}
                                </f:else>
                            </f:if>
                        </f:link.page>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- column -->
        </f:for>
    </div>

</f:section>
</html>