<div class="form-check">
    <f:form.checkbox class="form-check-input" id="users_dataprotection" property="usersDataprotection" additionalAttributes="{autocomplete:'new-password'}" value="1"/>
    <label class="form-check-label" for="users_dataprotection">
        <f:translate key="register.field.dataprotection" /> (<f:link.page pageUid="{settings.linkDataprotection}" target="_blank"><f:translate key="register.field.dataprotection.read" /></f:link.page>)<f:if condition="{field.required}">*</f:if>
    </label>
    <div class="text-danger">
        <f:for each="{errors.users_dataprotection}" as="errorcode">
            <div><f:render partial="Validation" section="error{errorcode}"/></div>
        </f:for>
    </div>
</div>