<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Email"/>
<f:section name="main">

    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
        <tbody>
        <tr>
            <td colspan="2" style="padding:10px 0 10px 0;"><f:translate key="approval.email.message" /></td>
        </tr>
        <tr>
            <td style="width:33%"><f:translate key="login.username" />:</td>
            <td><b>{user.username}</b></td>
        </tr>
        <tr>
            <td style="width:33%"><f:translate key="register.form.email" />:</td>
            <td><b>{user.email}</b></td>
        </tr>
        <tr>
            <td style="width:33%"><f:translate key="register.field.firstname" />:</td>
            <td><b>{user.first_name}</b></td>
        </tr>
        <tr>
            <td style="width:33%"><f:translate key="register.field.lastname" />:</td>
            <td><b>{user.last_name}</b></td>
        </tr>
        <tr>
            <td style="width:33%"><f:translate key="register.field.company" />:</td>
            <td><b>{user.company}</b></td>
        </tr>
        </tbody>
    </table>

    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
        <tbody>
        <tr>
            <td style="padding:10px 0 10px 0;">
                <p>
                    <f:translate key="approval.email.accept.message" />
                </p>
                <center>
                    <a href="{linkApprove}"
                       style="display: inline-block; padding: 11px 30px; margin: 20px 0px 30px; font-size: 15px; color: #000000; background-color: #84cc72; border-radius: 60px; text-decoration:none;">
                        &nbsp;&nbsp;<f:translate key="approval.email.accept.button" />&nbsp;&nbsp;
                    </a>
                </center>
            </td>
        </tr>
        <tr>
            <td style="padding:10px 0 10px 0;">
                <p>
                    <f:translate key="approval.email.reject.message" />
                </p>
                <center>
                    <a href="{linkReject}"
                       style="display: inline-block; padding: 11px 30px; margin: 20px 0px 30px; font-size: 15px; color: #000000; background-color: #e88575; border-radius: 60px; text-decoration:none;">
                        &nbsp;&nbsp;<f:translate key="approval.email.reject.button" />&nbsp;&nbsp;
                    </a>
                </center>
            </td>
        </tr>
        <tr>
            <td style="border-top:1px solid #f6f6f6; padding-top:20px; color:#777">
                <f:translate key="approval.email.notes" />
            </td>
        </tr>
        </tbody>
    </table>


</f:section>

</html>
