<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">

    <div class="card login-box">
        <div class="card-body">
            <h4 class="card-title">
                <f:translate key="register.form.title" />
            </h4>

            <div class="card-text">
                <f:form action="submit" class="needs-validation form" method="POST" object="{registration}"
                        objectName="registration">

                    <f:security.ifAuthenticated>
                    <f:link.action action="confirmmailchangePage">TEST</f:link.action>
                    </f:security.ifAuthenticated>


                    <!-- USERNAME -->
                    <div class="form-group">

                        <label for="username">
                            <f:translate key="register.form.username" />*
                        </label>
                        <div class="input-group mb-3">
                            <f:render partial="Icons/User"/>
                            <f:form.textfield
                                    class="form-control{f:if(condition: '{errors.username}',then: ' is-invalid')}{f:if(condition: '{errors} && !{errors.username}',then: ' is-valid')}"
                                    id="username" property="username"
                                    additionalAttributes="{autocomplete:'new-password'}"/>
                        </div>
                        <div class="text-danger">
                            <f:for each="{errors.username}" as="errorcode">
                                <div>
                                    <f:render partial="Validation" section="error{errorcode}"/>
                                </div>
                            </f:for>
                        </div>
                        <small class="form-text text-muted">
                            <f:translate key="register.form.username.note" />
                        </small>
                    </div>
                    <!-- USERNAME/EMAIL -->


                    <!-- EMAIL -->
                    <div class="form-group">

                        <label for="email">
                            <f:translate key="register.form.email" />*
                        </label>
                        <div class="input-group mb-3">
                            <f:render partial="Icons/Email"/>
                            <f:form.textfield
                                    class="form-control{f:if(condition: '{errors.email}',then: ' is-invalid')}{f:if(condition: '{errors} && !{errors.email}',then: ' is-valid')}"
                                    type="text" id="email" property="email"
                                    additionalAttributes="{autocomplete:'new-password'}"/>
                        </div>
                        <div class="text-danger">
                            <f:for each="{errors.email}" as="errorcode">
                                <div>
                                    <f:render partial="Validation" section="error{errorcode}"/>
                                </div>
                            </f:for>
                        </div>
                        <small class="form-text text-muted">
                            <f:translate key="register.form.email.note" />
                        </small>
                    </div>
                    <!-- EMAIL -->

                    <hr>

                    <!-- PASSWORD -->
                    <div class="form-group">
                        <label for="password">
                            <f:translate key="register.form.password" />*
                        </label>
                        <div class="input-group mb-3">
                            <f:render partial="Icons/Password"/>
                            <f:form.password
                                    class="form-control{f:if(condition: '{errors.password}',then: ' is-invalid')}{f:if(condition: '{errors} && !{errors.password}',then: ' is-valid')}"
                                    id="password" property="password"
                                    additionalAttributes="{autocomplete:'new-password'}"/>
                        </div>
                        <div class="text-danger">
                            <f:for each="{errors.password}" as="errorcode">
                                <div>
                                    <f:render partial="Validation" section="error{errorcode}"/>
                                </div>
                            </f:for>
                        </div>
                        <small class="form-text text-muted">
                            <f:translate key="register.form.password.note" />
                        </small>
                    </div>
                    <!-- PASSWORD -->

                    <!-- REPEAT PASSWORD -->
                    <div class="form-group">
                        <label for="passwordrepeat">
                            <f:translate key="register.form.repeatpassword" />*
                        </label>
                        <div class="input-group mb-3">
                            <f:render partial="Icons/Password"/>
                            <f:form.password
                                    class="form-control{f:if(condition: '{errors.password}',then: ' is-invalid')}{f:if(condition: '{errors} && !{errors.password}',then: ' is-valid')}"
                                    id="passwordrepeat" property="passwordrepeat"
                                    additionalAttributes="{autocomplete:'new-password'}"/>
                        </div>

                    </div>
                    <!-- REPEAT PASSWORD -->


                    <!-- OPTIONAL FIELDS -->
                    <f:if condition="{optionalFields -> f:count()} >= 1">
                        <hr>
                        <f:for each="{optionalFields}" as="optionalField">
                            <f:render partial="OptionalFields/{optionalField.id}"
                                      arguments="{errors:errors,field:optionalField}"/>
                        </f:for>
                    </f:if>
                    <!-- OPTIONAL FIELDS -->


                    <!-- SUBMIT BUTTON -->
                    <div class="mt-3">
                        <f:form.submit class="btn btn-primary btn-lg" value="{f:translate(key: 'register.form.button')}"/>
                    </div>
                    <!-- SUBMIT BUTTON -->

                </f:form>
            </div>
        </div>

        <!-- SPECIAL LINKS (Forgot pass or registration) -->
        <f:if condition="{settings.loginPid}">
            <div class="card-footer">
                <f:link.page pageUid="{settings.loginPid}">
                    <f:render partial="Icons/UserStandalone"/>
                    <f:translate key="register.form.loginlink" />
                </f:link.page>
            </div>
        </f:if>
        <!-- SPECIAL LINKS (Forgot pass or registration) -->

    </div>

</f:section>
</html>
