<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">


    <div class="card login-box">
        <div class="card-body">
            <h4 class="card-title">
                Vielen Dank für Deine Registrierung
            </h4>
            <div class="card-text">
                <p>Wir haben nun an die von Dir angegebene Adresse eine E-Mail mit einem Link zur Bestätigung Deines
                    Accounts geschickt. Schaue auch in Deinen Spam-Ordner, manchmal verirren sich E-Mails dorthin.
                    Hier nochmal deine Angaben:</p>

                <p>
                    <b>Benutzername:</b> {user.username}<br>
                    <b>E-Mail:</b> {user.email}
                </p>
            </div>
        </div>
        <div class="card-footer">
            <small>Hinweise: Solltest Du Deinen Account nicht innerhalb von 3 Tagen bestätigen, werden wir alle Daten
                automatisch wieder löschen. Wenn Dein Postfach nicht erreichbar ist, Du eine ungültige E-Mail
                angegeben hast oder die Bestätigungsemail aus anderen Gründen abgelehnt wird, wird dieser Account
                innerhalb der nächsten Stunden ebenfalls automatisch wieder entfernt.
            </small>
        </div>
    </div>


</f:section>
</html>