<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Userarea"/>
<f:section name="main">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{f:translate(key: 'changepass.submit.title')}</h4>

            <div class="card-text">
                {f:translate(key: 'changepass.submit.message')}
            </div>

        </div>

        <div class="card-footer">
            <f:link.action action="form" class="btn btn-primary"><f:translate key="changepass.back" /></f:link.action>
        </div>

    </div>

</f:section>
</html>