<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Userarea"/>
<f:section name="main">


    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
        <tbody>
        <tr>
            <td style="border-bottom:1px solid #f6f6f6;"><h1
                    style="font-size:14px; font-family:arial; margin:0px; font-weight:bold;">Hallo {user.username}</h1>
                <p style="margin-top:0px; color:#bbbbbb;">Du möchtest Deine E-Mail Adresse ändern</p></td>
        </tr>
        <tr>
            <td style="padding:10px 0 30px 0;"><p>Du hast eine Änderung der mit Deinem Account verknüpften E-Mail
                Adresse beantragt. Klicke auf den folgenden Link, um diese Änderung nun zu bestätigen.</p>
                <center>
                    <a href="{link}"
                       style="display: inline-block; padding: 11px 30px; margin: 20px 0px 30px; font-size: 15px; color: #fff; background: #00c0c8; border-radius: 60px; text-decoration:none;">&nbsp;&nbsp;Neue E-Mail Addresse bestätigen&nbsp;&nbsp;</a>
                </center>
            </td>
        </tr>
        <tr>
            <td style="border-top:1px solid #f6f6f6; padding-top:20px; color:#777">
                Wenn die obige Schaltfläche nicht funktioniert, versuche die URL zu kopieren und in Deinen
                Browser einzufügen. Wenn Du weiterhin Probleme hast, kannst Du uns gerne kontaktieren.
            </td>
        </tr>
        </tbody>
    </table>


</f:section>

</html>
